@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  background-color: floralwhite;
  overflow-x: hidden;
}

.navbar {
  background-color: floralwhite;
}
