@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  background-color: floralwhite;
  overflow-x: hidden;
}

.body * {
  color: #141414;
}

.navbar * {
  color: #141414;
}

.navbar {
  background-color: floralwhite;
}

article.prose * {
  color: #141414;
}