@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

body {
  background-color: floralwhite;
  overflow-x: hidden;
}

.navbar * {
  color: black;
}

.navbar .menu-horizontal * {
  color: #141414;
}

.navbar {
  background-color: floralwhite;
}
